* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    max-width: 90%; /* Maksimum lebar konten */
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
    color: #007bff;
}

.countdown {
    margin-bottom: 40px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.countdown-input {
    display: flex;
    flex-wrap: wrap; /* Mengatur wrap pada elemen input */
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.countdown-input label {
    margin-right: 10px;
}

.countdown-input input {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 50px;
    text-align: center;
}

.countdown-input button {
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.countdown-input button:hover {
    background-color: #0056b3;
}

.countdown-display {
    font-size: 24px;
}

.input-output {
    margin-top: 40px;
}

.input-output label {
    margin-right: 10px;
    font-weight: bold;
}

.input-output input {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 120px); /* Ukuran input untuk responsif */
    max-width: 300px; /* Maksimum lebar input */
}

.input-output button {
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.input-output button:hover {
    background-color: #0056b3;
}

#outputText {
    margin-top: 10px;
    font-size: 18px;
}
